<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.clean-arc</string>
    <key>ProgramArguments</key>
    <array>
        <string>/path/to/clean-arc.sh 30 0 0</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/com.user.clean-arc.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/com.user.clean-arc.out</string>
</dict>
</plist>
